:root {
	/* Primary Colors */

	--clr-primary-900: hsl(0, 100%, 74%);
	--clr-primary-800: hsl(0 100% 74% / 0.8);
	--clr-primary-700: hsl(154, 59%, 51%);
	--clr-primary-600: hsl(154 59% 51% / 0.6);
	--clr-primary-500: hsl(154, 57%, 46%);

	/* Accent Color */
	--clr-accent-900: hsl(248, 32%, 49%);

	/* Neutral Colors */
	--clr-neutral-900: hsl(249, 10%, 26%);
	--clr-neutral-700: hsl(246, 25%, 77%);

	/* Fpnt Family */
	--ff-poppins: 'Poppins', sans-serif;

	/* Font Weight */
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-size: 100%;
}

body {
	font-family: var(--ff-poppins);
	background: var(--clr-primary-900);
}

/* Utilities */
.ff-poppins {
	font-family: var(--ff-poppins);
}

.fs-heading {
	font-size: 3.5rem;
}
.fs-subheading {
	font-size: 1rem;
}

.fw-bold {
	font-weight: var(--fw-700);
}
.fw-semibold {
	font-weight: var(--fw-600);
}
.fw-medium {
	font-weight: var(--fw-500);
}
.fw-regular {
	font-weight: var(--fw-400);
}

.uppercase {
	text-transform: uppercase;
}

/* grid */

.container-grid {
	background-image: url(images/bg-intro-desktop.png);
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 90rem;
	min-height: 100vh;
	margin: 0 auto;
	padding-inline: 9rem;
	justify-content: center;
	place-items: center;
	gap: 5.25rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 375px) {
	.container-grid {
		overflow: hidden;
		background-image: url(images/bg-intro-mobile.png);
		max-width: 375px;
		height: auto;
		grid-template-columns: 1fr;
		gap: 2rem;
	}
}

.left-container {
	color: white;
}

.right-container {
	max-width: 33.75rem;
}
.heading {
	font-size: 3.5rem;
}
.subheading {
	font-size: 1rem;
}

@media (min-width: 375px) {
	.right-container {
		max-width: 327px;
	}

	.heading {
		margin-top: 5.625rem;
		margin-bottom: 2rem;
		font-size: 1.75rem;
		text-align: center;
	}
	.subheading {
		margin: 0;
		padding: 0;
		text-align: center;
	}
}

fieldset {
	background: white;
	border: 0 none;
	border-radius: 0.625rem;
	box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}

@media (min-width: 375px) {
	fieldset {
		margin-bottom: 2rem;
	}
}

form {
	margin: 3.125rem 2.75rem;
}

form p {
	font-size: 0.75rem;
	color: var(--clr-neutral-700);
}
@media (min-width: 375px) {
	form p {
		text-align: center;
	}
}

.terms {
	color: var(--clr-primary-900);
}

input {
	width: 85%;
	border: 0.125rem solid #e2e2e2;
	border-radius: 8px;
	padding: 1.125rem 2rem;
	margin-bottom: 1.75rem;
	font-weight: var(--fw-600);
	letter-spacing: 0.0625rem;
}

@media (min-width: 375px) {
	input {
		padding: 1rem;
	}
}

input:focus {
	outline: none;
	border: 2px solid var(--clr-neutral-700);
	opacity: 1;
	color: black;
	font-weight: var(--fw-700);
}

.btn--primary {
	background: var(--clr-primary-700);
	width: calc(100% - 0.75rem);
	height: 3.5rem;
	border: none;
	border-radius: 0.625rem;
	border-bottom: 4px solid;
	border-color: var(--clr-primary-500);
	color: white;
	letter-spacing: 1px;
	margin-bottom: 1rem;
	margin-top: 2.25rem;
}

@media (min-width: 375px) {
	.btn--primary {
		margin: 0;
		width: 100%;
		margin-bottom: 0.75rem;
	}
}

.btn--primary:hover {
	background: var(--clr-primary-600);
}

.btn--accent {
	background-color: var(--clr-accent-900);
	border: none;
	border-radius: 0.5rem;
	box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.15);
	color: white;
	width: 33.75rem;
	height: 3.75rem;
	margin-bottom: 1.25rem;
	letter-spacing: 1px;
}
@media (min-width: 375px) {
	.btn--accent {
		max-width: 20.5rem;
		word-wrap: break-word;

		padding-inline: 5rem;
	}
}

form .field {
	position: relative;
}

form .field .input-area {
	position: relative;
}

form .input-area .error {
	border: none;
	border: 2px solid var(--clr-primary-900);
}

form .field .warning-icon {
	display: none;
	position: absolute;
	top: 1.625rem;
	right: 1.5rem;
	transform: translateY(-50%);
	background-image: url(images/icon-error.svg);
	width: 1.5rem;
	height: 1.5rem;
	aspect-ratio: 1;
	border: none;
}

form .field .error-text {
	display: none;
	position: absolute;
	text-align: right;
	bottom: -1.75rem;
	transform: translateY(-50%);
	right: 10px;
	color: var(--clr-primary-800);
	font-style: italic;
	font-size: 0.625rem;
	border: none;
}

form .field .error {
	display: block;
}
